/* Selector de etiqueta */
form{
    /*centrar el formular*/
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;

}
ul{
    list-style: none;
    padding: 0;
    margin: 0;

}
form li +li{
    margin-top: 1em;

}
label{
    display: inline;
    width: 90px;
    text-align: right;

}
input, textarea{
    font: 1em sans-serif;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #999;

}
input:focus{
    border-color:#000;

}
textarea{
    vertical-align: top;
    height: 5em;

}
/* selector de clase */
.button{
    padding-left: 90px;

}
/* selector de etiqueta */
button{
    margin-left: 5em;

}
