/* Selector de etiqueta */
form{
    /*centrar el formular*/
    margin: 0 auto;
    width: 850px;
    height: 500px;
    padding: 1em;
    background-color: #f5f5dc;
    border: 1px solid black;

    display: grid;
    gap: 15px;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(10px, auto);

}
.itemGrid{
    align-items: center;
    vertical-align: middle;
}
.anchotodo{
    grid-column: span 4;

}
.ancho{
    grid-column: span 2;

}
.alto{
    grid-row: span 2;

}
.espe{
    grid-column: span 2 ;
    grid-row:  span 2;
}

/* selector de clase */
.button{
    
    padding-left: 20px;

}
/* selector de etiqueta */
button{
    margin-top: 1em;
    margin-left: 1em;

}

/* ----- */
label{
    display: inline;
    width: 90px;
    text-align: right;
}
#listarange {
    width: 350px;
    text-align: center;
    float: left;
}
option{
    display: inline;
}